body {
    height: 100vh !important;
    margin-top: 0;
}

.view_header {
    font-weight: lighter;
    font-size: 80px;
    color: black;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 0;
}

.view_input {
    display: inline-block;
    font-weight: lighter;
    font-size: 30px;
    text-align: justify;
    padding-top: 80px;
    margin-top: 50px;
    margin-left: 400px;
    margin-bottom: 50px;
    width: 40%;
    color: black;
    background-color: transparent;
}

.view_button--calculate {
    width: 150px;
    height: 50px;
    border-color: black;
    background-color: transparent;
    color: black;
    font-weight: bold;
    margin: 15px;
    margin-left: 500px;
}

.view_button--reset {
    background-color: transparent;
    color: black;
    margin: 15px;
    margin-left: 60px;
    padding: 16px 58px;
    text-align: center;
    border: 5px;
    text-decoration: none;
    border: 1px solid black;
}

.view_graph {
    margin-left: 400px;
    padding-top: 80px;
}
